/* Soluzione qui */

/* BONUS
@media screen and (min-width:576px){
    
} */

/* TABLET */
@media screen and (min-width: 768px) {
  #topbar {
    justify-content: flex-start;
  }
  main {
    padding: 40px;
  }
  .recipe-name > .recipe-origin {
    display: inline;
  }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
}
