/* Soluzione qui */

@media screen and (min-width: 576px) {
  .clearfix > img {
    float: left;
    margin-right: 10px;
  }
  .social-networks .btn {
    flex-grow: 1;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  #topbar {
    justify-content: flex-start;
  }
  main {
    padding: 40px;
  }
  .recipe-name > .recipe-origin {
    display: inline;
  }

  .recipe-name,
  .recipe-origin {
    font-size: 32px;
  }

  .quick-notes > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .quick-notes li {
    width: 200px;
  }

  .social-networks .btn {
    flex-grow: 1;
  }

  .ads {
    display: block;
  }
  .clearfix > img {
    float: left;
    margin-right: 10px;
  }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
  .recipe-name,
  .recipe-origin {
    font-size: 42px;
  }

  .recipe-card {
    display: flex;
  }
  .recipe-video {
    flex-grow: 1;
  }
  .quick-notes > ul {
    display: block;
  }
  .social-networks .label {
    display: inline;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

  footer > address {
    text-align: left;
  }
}
